#ignore folder
Code/
Dharkael/
QtProject.conf
TabNine/
Typora/
albert/
clash/
clash_win/
configstore/
dconf/
enchant/
evolution/
fcitx/
gedit/
glib-2.0/
gnome-initial-setup-done
google-chrome/
gtk-2.0/
gtk-3.0/
ibus/
libreoffice/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
neofetch/
netease-cloud-music/
omf/
pavucontrol.ini
pulse/
qqmusic/
sogoupinyin/
tencent-qq/
update-notifier/
user-dirs.dirs
variety/


